mat-form-field {
    display: flex;
    justify-content: center;
}

.select-city-container {
    margin-top: 35px;
    color: rgb(111, 235, 111);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}