<div class="mainpage-container">
    <div class="header-container">
        <img src="assets/images/boat.jpg" alt="Boat">
        <div class="text-overlay">
            <h5>DISCOVER THE COLORFUL WORLD</h5>
            <h1>NEW ADVENTURE</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor incididunt ut labore.</p>
            <button>DISCOVER NOW</button>
        </div>
    </div>
    <div class="select-city-container">

    </div>
    <div class="services-container">

    </div>
    <div class="most-popular-container">

    </div>
</div>