<div class="mainpage-container">
    <div class="header-container">
        <img src="assets/images/boat.jpg" alt="Boat">
        <div class="text-overlay">
            <h5>DISCOVER THE COLORFUL WORLD</h5>
            <h1>NEW ADVENTURE</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor incididunt ut labore.</p>
            <button>DISCOVER NOW</button>
        </div>
    </div>
    <div class="select-city-container">
        <p>Search & Book all our destinations</p>
        <app-search-bar class="search-bar"></app-search-bar>
    </div>
    <div class="services-container">
        <h2>OUR SERVICES</h2>
    </div>
    <div class="most-popular-container">

    </div>
</div>